.main__box {
  margin: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.movies__button {
  align-self: center;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: #F9F9F9;
  border: 1.5px solid #E8E8E8;
  padding: 0;
  margin: 50px 0 80px;
  cursor: pointer;
  transition: 0.5s;
}

.movies__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 425px) {
  .movies__button {
    width: 240px;
  }
}