.popup {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup__opened {
  visibility: visible;
  opacity: 1;
}

.popup__notactive {
  display: none;
}

.popup__box {
  width: 400px;
  margin: auto;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.popup__message {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.popup__button-close {
  width: 22px;
  height: 22px;
  background-image: url(../../images/burgermenu-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -25px;
  left: 440px;
  cursor: pointer;
}

.ppopup__button-close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 769px) {
  .popup__box {
    width: 250px;
  }

  .popup__button-close {
    top: -25px;
    left: 285px;
  }
}
