.App {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
}
