.movieCardList {
  display: flex;
  flex-direction: column;
}

.movieCardList__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  column-gap: 28px;
  row-gap: 60px;
  justify-content: center;
  padding: 70px 0 28px;
}

@media screen and (max-width: 769px) {
  .movieCardList__box{
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 47px;
    justify-content: center;
    padding: 70px 0 30px;
    max-width: 708px;
  }
}

@media screen and (max-width: 425px) {
  .movieCardList__box {
    grid-template-columns: 300px;
    row-gap: 39px;
    justify-content: center;
    padding: 40px 0 30px;
  }
}