.techs__container {
  background-color: #F5F5F5;
  padding: 100px 70px 100px 70px;
  margin: 0;
}

.techs__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  padding: 0px 0px 23px 0px;
}

.techs__title_container {
  border-bottom: 1px solid #000000;
}

.techs__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  padding: 90px 0px 26px 0px;
}

.techs__about {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
}

.techs__cards {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 100px 0 0 0;
}

.techs__card {
  display: inline-flex;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #E8E8E8;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 825px){
  .techs__container {
    padding: 90px 50px 90px 50px;
  }

  .techs__subtitle {
    padding: 80px 0 22px 0;
  }

  .techs__about {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__cards {
    padding: 83px 0 0 0;
  }

  .techs__card {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 425px) {
  .techs__container {
    background-color: #FFFFFF;
    padding: 70px 18px 70px 18px;
  }

  .techs__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 0px 28px 0px;
  }

  .techs__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__about {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
  
  .techs__cards {
    flex-wrap: wrap;
  }
}