.navtab {
    padding-bottom: 75px;
    padding-left: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navtab__button {
    width: 129px;
    height: 36px;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #5C5C5C;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}