.searchform {
  width: 100%;
}

.searchform__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 70px 15px 70px;
}

.searchform__line {
  position: absolute;
  border-bottom: 1px solid #E8E8E8;
  width: 1140px;
  bottom: 0px;
}

.searchform__input {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #A0A0A0;
  border: #FFFFFF;
  width: 90%;
}

.searchform__input-logo {
  width: 34px;
  height: 34px;
  background-image: url("../../../images/searchform__input-logo.png");
}

.searchform__button {
  border-radius: 48px;
  background-color: #2BE080;
  background-image: url("../../../images/searchform__button-logo.png");
  width: 80px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: bottom 50% right 50%;
  border: #FFFFFF;
}

.searchform__button:hover {
  opacity: 0.7;
}

.searchform__shorts {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.searchform__switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin: 0;
  padding: 30px 553px 49px 553px;
}

.searchform__checkbox-input {
  display: none;
}

.searchform__checkbox-custom {
  width: 34px;
  height: 14px;
  background: #2BE080;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.searchform__checkbox-custom::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 15%;
  left: 60%;
  background-color: #FFFFFF;
  transition: 0.3s;
}

.searchform__checkbox-input:checked ~ .searchform__checkbox-custom {
  background-color: #ebebeb;
}
.searchform__checkbox-input:checked ~ .searchform__checkbox-custom::after {
  left: 8.33%;
}

@media screen and (max-width: 769px) {
  .searchform__block {
    padding: 86px 30px 15px 30px;
    max-width: 708px;
    margin: auto;
  }

  .searchform__line {
    max-width: 708px;
  }

  .searchform__input {
    width: 80%;
  }

  .searchform__switch {
    max-width: 708px;
    padding: 30px 297px 62px 297px;
  }
}

@media screen and (max-width: 425px) {
  .searchform__block {
    padding: 92px 14px 15px 14px;
    max-width: 292px;
    margin: auto;
  }

  .searchform__line {
    max-width: 292px;
  }

  .searchform__input {
    width: 80%;
  }

  .searchform__switch {
    max-width: 292px;
    padding: 43px 86px 51px 86px;
  }
}