.aboutme {
  padding: 0 70px;
  margin: 0;
}

.aboutme__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 110px 0 0 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

.aboutme__block {
  margin: 90px 0 101px;
  display: flex;
}

.aboutme__information {
  display: flex;
  flex-direction: column;
}

.aboutme__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.aboutme__job {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 18px 0 26px;
}

.aboutme__bio {
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

.aboutme__github {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  margin: 99px 0 0;
}

.aboutme__githab:hover {
  cursor: pointer;
  opacity: 0.7;
}

.aboutme__avatar {
  margin-left: auto;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 825px){
  .aboutme {
    padding: 0 50px;
  }

  .aboutme__block {
    margin: 66px 0 90px;
  }

  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
  }

  .aboutme__job {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__bio {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__github {
    margin: 87px 0 0;
  }

  .aboutme__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 525px) {
  .aboutme {
    padding: 0 14px;
  }

  .aboutme__block {
    padding: 60px 0 69px;
    gap: 40px;
    flex-direction: column-reverse;
    margin: 0;
  }

  .aboutme__name {
    font-size: 30px;
    line-height: 36px;
  }

  .aboutme__job {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__bio {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__github {
    margin: 40px 0 0;
  }

  .aboutme__avatar {
    margin: auto;
    width: 292px;
    height: 325px;
  }
}